logs/latest.log
saves/新的世界 (1)/kubejs_persistent_data.nbt
saves/新的世界 (1)/level.dat
saves/新的世界 (1)/level.dat_old
saves/新的世界 (1)/DIM-1/data/capabilities.dat
saves/新的世界 (1)/DIM-1/data/raids.dat
saves/新的世界 (1)/DIM1/data/capabilities.dat
saves/新的世界 (1)/DIM1/data/raids_end.dat
saves/新的世界 (1)/advancements/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.json
saves/新的世界 (1)/data/capabilities.dat
saves/新的世界 (1)/data/raids.dat
saves/新的世界 (1)/ftbessentials/playerdata/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.snbt
saves/新的世界 (1)/playerdata/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.dat
saves/新的世界 (1)/playerdata/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.dat_old
saves/新的世界 (1)/playerdata/gamestages/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.dat
saves/新的世界 (1)/serverconfig/curios-server.toml
saves/新的世界 (1)/serverconfig/forge-server.toml
saves/新的世界 (1)/serverconfig/jei-server.toml
saves/新的世界 (1)/stats/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.json
saves/新的世界 (1)/icon.png
saves/新的世界 (1)/session.lock
saves/新的世界 (1)/data/Multiblocked.dat
saves/新的世界 (1)/entities/r.-1.-1.mca
saves/新的世界 (1)/entities/r.-1.0.mca
saves/新的世界 (1)/entities/r.0.-1.mca
saves/新的世界 (1)/entities/r.0.0.mca
saves/新的世界 (1)/ftbchunks/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.snbt
saves/新的世界 (1)/ftbquests/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.snbt
saves/新的世界 (1)/ftbteams/ftbteams.snbt
saves/新的世界 (1)/ftbteams/player/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.snbt
saves/新的世界 (1)/poi/r.-1.-1.mca
saves/新的世界 (1)/poi/r.-1.0.mca
saves/新的世界 (1)/poi/r.0.-1.mca
saves/新的世界 (1)/poi/r.0.0.mca
saves/新的世界 (1)/region/r.-1.-1.mca
saves/新的世界 (1)/region/r.-1.0.mca
saves/新的世界 (1)/region/r.0.-1.mca
saves/新的世界 (1)/region/r.0.0.mca
saves/新的世界 (1)/serverconfig/ftbchunks-world.snbt
saves/新的世界 (1)/serverconfig/ftbessentials.snbt
saves/新的世界 (1)/serverconfig/ftbultimine-server.snbt
logs/2023-01-31-3.log.gz
logs/2023-01-31-4.log.gz
logs/I18nUpdateMod.log
logs/latest.log
logs/kubejs/client.txt
logs/kubejs/server.txt
logs/kubejs/startup.txt
CustomSkinLoader/CustomSkinLoader.log
CustomSkinLoader/CustomSkinLoader.log
config/jei/ingredient-list-mod-sort-order.ini
config/jei/recipe-category-sort-order.ini
