logs/latest.log
saves/新的世界 (1)/kubejs_persistent_data.nbt
saves/新的世界 (1)/level.dat
saves/新的世界 (1)/level.dat_old
saves/新的世界 (1)/DIM-1/data/capabilities.dat
saves/新的世界 (1)/DIM-1/data/raids.dat
saves/新的世界 (1)/DIM1/data/capabilities.dat
saves/新的世界 (1)/DIM1/data/raids_end.dat
saves/新的世界 (1)/advancements/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.json
saves/新的世界 (1)/data/capabilities.dat
saves/新的世界 (1)/data/raids.dat
saves/新的世界 (1)/ftbessentials/playerdata/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.snbt
saves/新的世界 (1)/playerdata/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.dat
saves/新的世界 (1)/playerdata/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.dat_old
saves/新的世界 (1)/playerdata/gamestages/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.dat
saves/新的世界 (1)/serverconfig/curios-server.toml
saves/新的世界 (1)/serverconfig/forge-server.toml
saves/新的世界 (1)/serverconfig/jei-server.toml
saves/新的世界 (1)/stats/90eb4fdf-0085-4040-a09e-9d7119ba7cc9.json